<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="depmap.builder"
         name="Dependency Map Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.dnw.depmap.builder.DepMapBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="depmap.nature"
         name="Dependency Map Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.dnw.depmap.builder.DepMapNature">
         </run>
      </runtime>
      <builder
            id="depmap.builder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="depmap.toggleNature">
         <action
               label="Add/Remove DependencyMap Nature"
               class="com.dnw.depmap.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="depmap.toggleNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="depmap.xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="depmap.javaProblem"
         name="Java Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
