<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.dnw.depmap.analyzedependency"
            nameFilter="*"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <action
               class="com.dnw.depmap.AnalyzeDependencyAction"
               id="com.dnw.depmap.analyzedependencyaction"
               label="Analyze Dependency"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

</plugin>
