<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.dnw.depmap.analyzedependency"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="com.dnw.depmap.AnalyzeDependencyAction"
               id="com.dnw.depmap.analyzedependencyaction"
               label="Analyze Dependency"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.dnw.depmap.preferences.RootPreferenePage"
            id="com.dnw.depmap.preferences.DependencyMapPreferenePage"
            name="Dependency Map">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.dnw.depmap.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
